repos:
    # Basic file hygiene
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    -   repo: https://github.com/tekwizely/pre-commit-golang
        rev: v1.0.0-rc.4
        hooks:
          - id: go-mod-tidy
          - id: go-fmt
          - id: go-vet
          - id: go-lint
          - id: go-imports
